---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Listening...">
	<h1>Some tracks that I have recently been listening to.</h1>
    <div class="track"></div>
    <template>
        <div class="album-art">
            <img src="" alt="">
        </div>
    </template>
</Layout>

<script>
const response = await fetch('https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=irPhunky&api_key=3e434c7a4ee434d124cf935094da3c7e&format=json&limit=16');
const data = await response.json();
const fragment = new DocumentFragment();
data.recenttracks.track.forEach((track) => {
    let div = document.createElement('div');
    div.setAttribute('class', 'album-art')
    let img = document.createElement('img');
    img.setAttribute('src', track.image[3]['#text']);
    img.setAttribute('alt', '');
    div.append(img)
    fragment.appendChild(div);
})
document.querySelectorAll('.track')[0].appendChild(fragment);
</script>

<style is:global>
  .track {
    @apply flex;
  }

  .album-art {
    @apply w-32 h-32 bg-blue-200 -mr-20 transition-[margin,transform] ease-in-out transform rounded overflow-hidden drop-shadow-md;
  }

  .album-art:nth-child(odd) {
    @apply bg-green-300;
  }

  .album-art:hover {
    @apply -mt-6 -rotate-12 cursor-pointer drop-shadow-lg scale-150;
  }

  .album-art + .album-art:hover {
    @apply -mr-0;
  }
</style>
