---
import Layout from '../layouts/Layout.astro';

const tracks = [
  'https://lastfm.freetls.fastly.net/i/u/300x300/7d6bd3921021452b8892dd626fb303ca.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/b301baa24b0db37b08e9314abcdbe63f.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/32e39585c81aea5659da8433a29ec6a1.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/12098b07c2774f8ccf8fa2f7b5b832e3.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/4931266b32b38be5a27331475ec0f0cf.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/0e5528726b67484aa0f4e8fdc497846b.jpg',
  'https://lastfm.freetls.fastly.net/i/u/300x300/5d94b4b8f5184fc4a13072807d689a14.jpg',
];
---

<Layout title="Listening...">
	<h1>Some tracks that I have recently been listening to.</h1>

  <div class="track">
    {tracks.map(track =>
      <div class="album-art">
        <img src={track} alt="" />
      </div>
    )}
  </div>

</Layout>

<style>
  .track {
    @apply flex;
  }

  .album-art {
    @apply w-32 h-32 bg-blue-200 -mr-20 transition-[margin,transform] ease-in-out transform rounded overflow-hidden drop-shadow-md;

    &:nth-child(odd) {
      @apply bg-green-300;
    }

    &:hover {
      @apply -mt-6 -rotate-12 cursor-pointer drop-shadow-lg scale-150;

      .album-art + & {
        @apply -mr-0;
      }
    }
  }
</style>
